:root {
    --heading-background-color: #f06;
    --heading-text-color: #333;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
    --color-primary: rgb(111, 184, 233);
    --color-link: rgb(7, 4, 6);
    --color-aside-bg: rgb(75, 168, 140);
    --color-aside-text: rgb(19, 20, 20);
    --border-light: 1px solid rgb(0 0 0 / 0.2);
    --border-black: 1px solid black;
    --shadow-default: 0 0 30px gray;
    --img-width-main: 150px;
    --img-width-aside: 200px;
    --background-footer: rgba(212, 53, 159, 0.2);
}



nav{
    background-color: steelblue;/*var(--color-primary);*/
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a{
    color: #fff/*var(--color-link)*/;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1{
    border-bottom: rgb(16, 145, 95);
    color: var(--color-primary);
}

main{
    width: auto;
    text-align: center;
}

aside{
    width: auto;
    margin: auto;
    border: var(--border-light);
    padding: var(--padding);
    background-color: var(--color-aside-bg);
    color: var(--color-aside-text);
    text-align: center;
}

aside img{
    width: var(--img-width-aside);
    height: auto;
}

main img{
    width: var(--img-width-main);
    height: auto;
}

img{
    width: var(--img-width-main);
    height: auto;
    border: var(--border-black);
    padding: 2px;
    box-shadow: var(--shadow-default);
}

p{
    padding: 0;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

.note {
    font-style: italic;
    font-weight: bold;
    /*color: navy;*/
    color: var(--color-aside-text);
    background: var(--background-footer);
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}